__pycache__/
*.py[cod]

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep

outputs/checkpoints/*
!outputs/checkpoints/.gitkeep
outputs/figures/*
!outputs/figures/.gitkeep
outputs/metrics/*
!outputs/metrics/.gitkeep
